#header{
    background-image: url("/images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: center;
    
  }
  
  
  #socials{
    float: center;
  }
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: #f2f2f2;
    color: #5f5f5f;
  }
#intro{
  text-align: center;
  justify-content: center;
}
#profilepic{
  border-radius: 50%;
  margin-top: -25px;

}

#skills{
  text-align: center;
}
#techstack div{
  display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: grey;
    background-size: 50% auto;
    margin-right: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    border: 2px black round;
}